@import "../../scss/settings";

.lobby-user-list {
    min-height: 400px;
    &__user {
        margin: 10px 0;

        &__name {
            color: $secondary-colour;
            font-weight: bold;
        }
    }
}
